$main-color: #0EA5E9;
$button-color: #38BDF8;
$card-color: #EAB308;
$background-color: #F0F3F8;
$outline-color: #c0c6d1;
$sidebar-text-color: white;
$card-text-color: rgb(90, 90, 90);


@font-face {
    font-family: "roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto bold";
    src: url("../assets/fonts/Roboto-Bold.ttf");
}


* {
    margin: 0;
    padding: 0;
    font-family: "roboto";
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: grid;
    grid-template-columns: 1.3fr 6fr 2fr;
    grid-template-rows: min(160px) 1fr;

    background-color: $background-color;
}

.sidebar {
    grid-row: 1 / 3;

    background-color: $main-color;
    color: $sidebar-text-color;

    h1, li {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    h1 {
        padding: 1rem;
        padding-bottom: 2rem;
        font-family: "roboto bold";
        font-size: 1.5rem;
        gap: 5px;
    }

    nav {
        ul {
            list-style: none;

            li {
                font-family: "roboto bold";
                padding: 0.8rem;
            }
        }

        .side-top {
            padding-bottom: 2rem;
        }
    }
}

header {
    grid-column: 2 / 4;

    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

    .header-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 70%;

            .search {
                width: 100%;
                height: 2rem;

                background-color: $background-color;
                border: 1px solid $outline-color;
                border-radius: 25px;
            }
        }
    
        &-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 2rem;
    
            img {
                width: 45px;
                border-radius: 50%;
            }
            p {
                font-family: "roboto bold";
            }
        }
    }

    .header-bottom {
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 70px;
                border-radius: 50%;
            }
            .greet-user {
                p {
                    font-family: "roboto bold";
                }

                :last-child {
                    font-size: 1.5rem;
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;

            ul {
                list-style: none;

                display: flex;
                gap: 1.5rem;

                li {
                    width: 6.5rem;
                    color: white;
                    background-color: $main-color;
                    font-family: "roboto bold";
                    border-radius: 25px;
                    padding: 0.5rem;
                    text-align: center;
                }
            }
        }
    }
}

main {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    display: grid;

    grid-template-columns: 3fr 1fr;
    padding-top: 1rem;

    .projects {
        padding: 1rem;

        h1 {
            padding-bottom: 1rem;
        }

        .projects-main {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 1rem;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                max-width: 400px;
                min-height: 200px;
                background-color: white;
                padding: 1rem 1rem 1.4rem 1rem;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-left: 10px solid $card-color;
                border-radius: 10px;

                .description {
                    :first-child {
                        font-family: "roboto bold";
                    }
                    :last-child {
                        color: $card-text-color;
                    }
                }
                .projects-icons {
                    display: flex;
                    justify-content: flex-end;
                    gap: 30px;

                    padding-right: 1rem;
                }
            }
        }
    }

    .main-side {
        padding: 1rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        .announcements {
            h1 {
                padding-bottom: 1rem;
            }

            dl {
                background-color: white;
                border-radius: 15px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 1rem 2rem 2rem 2rem;

                dt {
                    font-family: 'roboto bold';
                    padding-top: 1rem;
                }
                dd {
                    color: $card-text-color;
                }

                :nth-child(2n):not(:last-child) {
                    padding-bottom: 1.5rem;
                    border-bottom: 1px solid $outline-color;
                }
            }
        }

        .trending {
            h1 {
                padding-bottom: 1rem;
            }

            .trending-wrapper {
                background-color: white;
                border-radius: 15px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                padding: 1.5rem 1rem 0.5rem 1rem;
                .trending-item {
                    display: flex;
                    gap: 15px;
                    padding-bottom: 1rem;
                    img {
                        width: 45px;
                        border-radius: 50%;
                    }

                }
            }
        }
    }
}