* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    border: 1px solid black;
}

header {
    border: 2px solid red;
}

main {
    .projects {
        border: 3px solid green;
    }
    .main-side {
        border: 4px solid blue;
    }
}